

body {
    padding: 0 10px;
    text-align:center;
    background-color:gainsboro;
    
}
header {
    padding-bottom:30px;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px dashed black;
}

header img{
    border: 3px grey solid;
    border-radius: 80%;
    max-width:300px;
    max-height:200px;
    
}
a {
    color:black;
}

a:link{
    text-decoration: none;
}

a:hover{
    background-color:antiquewhite;
}

nav ul{
    list-style: none;
    padding-right:40px;
    
}
.hub {
    padding:5px;
    border: 3px grey solid;
    margin-top:3px;
    box-shadow:0 3px 2px 1px black;
    background-color:white;
    background-image:linear-gradient(grey 5%, white 75%);
    
 
}
#portfolio{
    padding:30px 0;
    border-bottom: 1px dashed black;
}

section h1 {
    font-family: 'Lato', sans-serif;
}
section img{
    max-width:300px;
}
#contact{
    padding:30px 0;
    border-bottom: 1px dashed black;
}
#future{
    padding:30px 0px;
    border-bottom: 1px dashed black;
    background: url(https://i.pinimg.com/originals/c9/90/01/c99001b84dcc9c7746a76a78d0dbadb6.jpg) center / cover;
    color:white;
    
}
#future img{
    border-radius:50%;
    
}

footer p{
    padding:30px 0;
    font-family: 'Lato', sans-serif;
    display:inline-block;  
}
@media screen and (min-width:768px){

    .container{
        display:flex;
        flex-direction;column;
        justify-content:space-evenly;
       
        
        
       
        
        
        
        
    }
    


}

@media screen and (min-width:1024px){
    
    }
}